<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title> LETS CREATE A WEB PAGE</title>
</head>
<body>
    <h1 >To-Do LIST</h1>
    <div class="container">
        <Label>Enter a todo</Label>
    <input type="text" placeholder="enter a to do" >
    
    <div>
        <button> "ADD UR CHOICE"</button>
    </div>
    </div>
    
    <div></div>
    

</body>
</html>